---
import Layout from "../layouts/Layout.astro";
import GridTile from "../components/GridTile.astro";
---

<Layout title="Jason O'Neil">
  <main>
    <section class="intro">
      <h1>I am Jason O'Neil</h1>
      <p>And this is my website. On here you'll find:</p>
    </section>
    <ul role="list" class="homepage-grid">
      <GridTile href="#" body="Something 1" tileWidth={1} tileHeight={1} />
      <GridTile
        href="#"
        body="Something Big! (2)"
        tileWidth={3}
        tileHeight={2}
      />
      <GridTile href="#" body="Something 3" tileWidth={1} tileHeight={1} />
      <GridTile href="#" body="Something 4" tileWidth={1} tileHeight={1} />
      <GridTile
        href="#"
        body="Something long! (5)"
        tileWidth={2}
        tileHeight={1}
      />
      <GridTile
        href="#"
        body="Something long! (6)"
        tileWidth={2}
        tileHeight={1}
      />
      <GridTile href="#" body="Something 7" tileWidth={1} tileHeight={1} />
      <GridTile href="#" body="Something 8" tileWidth={1} tileHeight={1} />
    </ul>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
    gap: 2rem;
    padding: 2rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .homepage-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    gap: 1rem;
    list-style: none;
    padding: 0;
    width: 100%;
  }
</style>
